@import '../index.scss';
.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .option {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 15px;
        border: 1px solid grey;
        &:hover {
            border: 2px solid grey;
        }
        &.selected {
            border: 2px solid red;
            color: red;
        }
        input {
            display: none;
        }
        .option-label {
            @include noselect;
        }
    }
}